<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.daimao.mapper.CartMapper">
    <insert id="addCart" >
        insert into u_cart values (
                                   #{id},#{username},#{productId},#{productImgurl},#{productNum},#{productPrice},#{productName}
                                  )
    </insert>

    <select id="queryExist" resultType="int">
        select count(id) from u_cart where product_id=#{productId} and username = #{username}
    </select>

    <update id="addNum">
        update u_cart set product_num = product_num + #{productNum};
    </update>

    <select id="showCart" resultType="pojo.Cart">
        select * from u_cart where username = #{username};
    </select>

    <delete id="deleteCart">
        delete from u_cart where id=#{id}
    </delete>

    <update id="updateNum">
        update u_cart set product_num = #{productNum} where id=#{id}
    </update>

    <insert id="addOrder">
        insert into u_order values (#{orderId},#{orderMoney},#{userId},#{status},#{address},#{orderTime})
    </insert>
    <insert id="addOrderItem">
        insert into u_orderitem values (#{id},#{orderId},#{productId},#{productNum},#{productPrice},#{productName},#{productImgurl})
    </insert>

    <select id="queryOrder" resultType="pojo.Order">
        select * from u_order where user_id = #{userId}
    </select>

    <select id="queryOrderItem" resultType="pojo.OrderItem">
        select * from u_orderitem where order_id = #{orderId}
    </select>

    <update id="pay" >
        update u_order set status = 1 where order_id = #{orderId}
    </update>

    <update id="kucun">
        update t_product set product_num = product_num - #{productNum} where product_id = #{productId}
    </update>

    <update id="fahuo">
        update u_order set status = 2 where order_id = #{orderId}
    </update>

    <select id="orderManage" resultType="pojo.Order">
        select * from u_order;
    </select>
    
    <select id="queryCartId" resultType="integer">
        select id from u_cart where product_id=#{productId} and username = #{username}
    </select>

    <select id="queryUserId" resultType="string">
        select user_id from u_user where username = #{username}
    </select>

    <select id="queryUsername" resultType="string">
        select username from u_user where user_id=#{userId}
    </select>
</mapper>