<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.daimao.mapper.UserMapper">
    <insert id="addUser">
        insert into u_user values (
                                   #{userId},#{username},#{password}
                                  )
    </insert>
    <select id="queryExist" resultType="pojo.User" >
        select * from u_user where username = #{username} and password = #{password}
    </select>
    <select id="queryByName" resultType="java.lang.Integer">
        select count(*) from u_user where username=#{username}
    </select>
    
    <insert id="addDetail" >
        insert into u_detail values (#{username},#{avatarUrl},#{gender},#{name},#{phone},#{email},#{createTime})
    </insert>

    <select id="queryDetail" resultType="pojo.Person">
        select * from u_detail where username = #{username}
    </select>

    <update id="editDetail">
        update u_detail set avatar_url = #{avatarUrl},gender = #{gender},name = #{name},email = #{email},phone = #{phone}
        where username = #{username}
    </update>
</mapper>